body{
    font-family: 'Montserrat', sans-serif;
    color: black;
    overflow-x: hidden; 
    overflow-y: scroll; 
}

/*
.homePop{
    display: none;
}
*/

.fa-user{
    display: none!important;
}
.barss .mobBTN{
    display: none!important;
}
.experiences .right-side, .experiences .left-side{
    height: 30vw!important;
    width:30vw;
}

.experiences .regBTN{
/*
    position: absolute;
    bottom:2vw;
    margin:0!important;
    left:12vw;
*/
}


/*MESSING WITH AMIMATE.CSS ANIMATION SPEEDS*/
/*
.fadeInUp{
    -webkit-animation: fadeInUp 2s;
    animation: fadeInUp 2s; 
}
.fadeIn2{
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s; 
}
.animate__animated.animate__heartBeat {
  --animate-delay: 1s;
}
*/
/*
.animate__animated.animate__fadeIn {
  --animate-delay: 2s;
}
*/
.animate__animated.animate__fadeIn2 {
    -webkit-animation: fadeIn 3s;
    animation: fadeIn 3s;
}
.animate__animated.animate__heartBeat {
  --animate-duration: 1s;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 1s;
}

/*NEW VERSION CSS START*/
p{
    font-weight: 400!important;
    line-height: 150%;
}
.outfitHeader{
/*    height: 70vh;*/
    background-color: transparent;
/*    padding-top: 44vh;*/
    position: relative;
}
.outfitHeader>img{
    margin: 0 auto;
    display: block;
    width:50vw;
}
#homeVidWrap{
    margin-top: -5vh;
    overflow: hidden;
    height: 95vh;
}
#homeVidWrap video{
    width:100%;height: auto;display: block;
}
.mainContent{
    background-color: white;
    padding-top: 1vw;
}
.mainContent h1{
    text-align: center;
    color: black;
    font-size: 4.5vw;
    margin-bottom: 2vw!important;
}
.mainContent .container{
    width: 75vw;
}
.vanpic{
    background-image: url(img/new3/whatisoutfit.jpg);
    background-size: cover;
    background-position: bottom;
}
.vanpic2{
    background-image: url(img/new3/oic.jpg);
    background-size: cover;
    background-position: bottom;
}
.getOut{
    padding-bottom: 12vw;
    background-size: cover;
    background-position:bottom;
    background-repeat: no-repeat;
    background-image: url(img/background/whatisoutfit.jpg);
}
@media(min-width:768px){
    .getWrap h1{
        color: white!important;
        font-size: 4.5vw;
        text-align: left;
/*        text-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.9);*/
    }
    .getWrap p{
        text-align: left!important;
        color: white;
        margin-left: 0!important;
        padding-right: 8vw!important;
/*        text-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.9);*/
    }
    .getWrap{
        padding-left: 15vw;
    }
}
@media(max-width:767px){
/*
    #homeVidWrap{
        margin-top: 15.01vw;
    }
*/
    .topRow{
        padding-bottom: 12vw;
        background-size:cover;
        background-position: middle;
        background-repeat: no-repeat;
        background-image: url(img/background/whatisoutfit.jpg)
    }
    .getWrap h1{
        color: white!important;
        font-size: 5vw;
        margin-top: 15vw!important;
        text-align: left;
/*        text-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.9);*/
    }
    .getWrap p{
        text-align: left!important;
        color: white;
        margin-left: 0!important;
        padding-right: 8vw!important;
        padding-left: 0!important;
/*        text-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.9);*/
    }
    .topRow .underoutfit{
        padding-left: 0!important;
    }
    .getWrap{
        padding-left: 14vw;
    }
}
.workoutTitles{
    color: white;
    text-align: left;
}
.whatIsOutfit{
    background-color: #FFE500;
    text-align: center;
    padding: 2.5vw;
}
h2{
    font-size:1.5vw;
    font-weight: 700;
    margin-top: 0;
}
.dos p{
    padding:0!important;
}
.mainContent p{
    font-size: 1vw;
    text-align: center;
    font-weight: 600;
    padding:.5vw;
}
.regBTN{
    color: black;
    border:1px solid black!important;
    display: inline-block;
    font-size: .8vw;
    font-weight: 500;
    line-height: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2vw;
    text-decoration: none!important;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    margin-top: 1vw;
    background-color: #FFE500;
}
.regBTN:hover{
    background-color: black;
    color: #FFE500;
}
.regBTN:focus{
    outline: none!important;
    color: #FFE500!important;
}
.flipBTN{
    color: black;
    border:1px solid black!important;
    display: inline-block;
    font-size: .9vw;
    font-weight: 700;
    line-height: 2.75vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2vw;
    text-decoration: none!important;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    margin-top: 1vw;
    background-color: #FFE500;
    position: absolute;
    bottom: 0;
    left: 0;
}
.flipBTN:hover{
    background-color: black;
    color: #FFE500;
}

.body {
    display: table;
}

.left-side {
    float: none;
    display: table-cell;
}

.right-side {
    float: none;
    display: table-cell;
}
#workwrapOuter{
    position:absolute; height:100%; width:100%;
    display: table;
    left:0;
    top:0;
}
#workwrap{
/*
    display: table-cell;
    vertical-align: middle;
*/
    padding-top: 3vw;
    text-align:center;
    padding-left: 2vw;
    padding-right: 2vw;
}
/*
.experiences .right-side{
    padding-left:2vw;
    padding-right:2vw;
}
*/
.underoutfit{
    margin-bottom: 5vw;
    margin-top: 1vw;
}
.underoutfit2{
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.para{
    width:100%;
    text-align: center;
    margin:0 auto;margin-top: 2vw;
    margin-bottom: 4vw;
}
.circs>.col-xs-4{
    cursor: pointer;
}
.para .col-xs-4>p{
    font-size: .75vw;
}
.circs{
    text-align: center;
    margin-top: 1vw;
    margin-left: 0!important;
    margin-right: 0!important;
}
/*
.circs .col-xs-4{
    padding:0!important;
    margin: 0!important;
}
*/
.circs img{
    display: inline-block;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    width: 100%;
    padding:3vw;
    padding-bottom: 0;
}
.circs span{
    text-align: center;
    width: 100%;
    font-weight: 800;
    display: block;
    margin-top: 1vw;
    font-size: 1vw;
    padding-bottom: .5vw;
    line-height: 2vw!important;
}
.circs span{
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    cursor: pointer;
}
.circs .col-xs-4 img:hover{
/*
    -webkit-filter: drop-shadow(0 0 .25vw rgba(0,0,0,0.5));
    filter: drop-shadow(0 0 .25vw rgba(0,0,0,0.5));
*/
    cursor: pointer;
    padding:0;
    width:100%;
}
.circs .col-xs-4:hover span{
/*    text-shadow: 0px 0px .25vw rgba(0,0,0,0.5);*/
    font-size: 1.5vw;
}
/*
.circs .col-xs-4>img:hover{
    -webkit-filter: drop-shadow(0 0 .25vw rgba(0,0,0,0.5));
    filter: drop-shadow(0 0 .25vw rgba(0,0,0,0.5));
    cursor: pointer;
    padding:0;
}
*/
#subRow{
    margin-top:4vw;
}

.searchBox input{
    display: inline-block;
    margin: 0 auto;
    font-size: 1.5vw;
    line-height: 2vw;
    border-radius:1.5vw;
    padding-left: 1vw;
    padding-right: 1vw;
    text-align: center;
    margin-bottom: 2vw;
    color: rgba(218,218,218,1);
    border:2px solid rgba(218,218,218,1);
    width:25vw;
}
.searchBox{
    padding-bottom: 5vw;
}
.headerInput{
    display: inline-block;
    margin: 0 auto;
    font-size: inherit;
    line-height: inherit;
    border-radius:1.5vw;
    padding-left: .5vw;
    padding-right: .5vw;
    text-align: center;
    vertical-align: middle;
    color: black;
    border:none;
    width:15vw;
}
.searchBox img{
    margin-bottom: 2vw!important;
}
.chargeOut{
    padding-top: 1vw;
    padding-bottom: 2vw;
    background-image: url(img/background/incharge.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: transparent!important;
}
.chargeOut{
    
    margin-top: 4vw;
}
.charge .whatIsOutfit{
    padding-top: 5vw;
    padding-bottom: 5vw;
}
.getOut .whatIsOutfit{
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin:10vw;
    margin-top: 15vw;
    margin-bottom: 15vw;
}
.experiences{
    background-size: cover;
    background-position: center;
    background-image: url(img/new3/workouts.jpg);
    text-align: center;
    padding-top:5vw;
    padding-bottom: 10vw;
    -webkit-box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .2);
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, .2);
}
.experiences .exp{
    width:calc(40% - 1vw);
    display: inline-block;
    text-align: center;
    height: 17vw;
    margin:.5vw;
    margin-top: 4vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 17vw;
    color: white;
    text-transform: uppercase;font-size: .9vw;
/*
    -webkit-box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.3);
*/
    font-size: 2vw;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}

/*popups*/
          .learnMoreOutter{
              position: fixed;
              left:0;
              top:0;
              height:100%;
              width: 100%;
              z-index: 6000;
              background-color: rgba(0,0,0,.3);
              text-align: center;
              display: none;
          }
          .learnMoreInner{
              background-color: rgba(0,0,0,.5);
              display: inline-block;
              width:500px;
              padding:25px;
              padding-top: 10px;
              max-width: 95%;
              margin-top:10vh;
          }
.learnMoreInner h4, .learnMoreInner p, .learnMoreInner a{
    color: white!important;
}
@media(min-width:768px){
    .experiences h1{
        color: white!important;
        font-size: 4.5vw;
        text-align: center;
/*        text-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.9);*/
        
    }
    .experiences p{
        text-align: left!important;
        color: white;
        padding-left: 20vw;
        width:100%;
        padding-right: 15vw;
/*        text-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.9);*/
    }
    .para2 p{
        text-align: left!important;
        color: white;
        padding-left: 15vw;
        width:100%;
        padding-right: 10vw;
/*        text-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.9);*/
    }
    .experiences{
        
    }
}
.mobSlider{
    display: none;
}
@media(max-width:767px){
    #bannerIMG{
        margin-top: 15vw!important;
    }
    .learnMoreInner{
              background-color: rgba(0,0,0,.5);
              display: inline-block;
              width:100%;
              height:calc(100vh - 17vw);
              overflow: scroll;
              padding:25px;
              padding-top: 10px;
              margin-top:15vw;
        -webkit-box-shadow: 0 0 1vw 0 rgba(0,0,0,0.75);
        box-shadow: 0 0 1vw 0 rgba(0,0,0,0.75);
          }
    #vanimg{
        margin-top: 25px!important;
    }
    #notyet{
        margin-top: 25vw;
    }
    #moblogin{
        display: none;
    }
    .deskSlider{
        display: none!important;
    }
    .mobSlider{
        display: block;
    }
    .para2 h1{
        margin-bottom: 5vw!important;
        margin-top: 10vw!important;
    }
    .circs img{
        display: inline-block;
        -webkit-transition: ease all .3s;
        transition: ease all .3s;
        width: 100%;
        padding:5vw;
        padding-bottom: 0;
    }
    .circs span{
        font-size: 2.5vw;
    }
    .circs span{
        -webkit-transition: ease all .3s;
        transition: ease all .3s;
        cursor: pointer;
    }
    .circs .col-xs-4 img:hover{

        padding:1vw;
    }
    .circs .col-xs-4:hover span{
    /*    text-shadow: 0px 0px .25vw rgba(0,0,0,0.5);*/
        font-size: 3vw;
    }
    .charge .whatIsOutfit{
        margin:10vw;
        margin-top: 15vw;
        margin-bottom: 15vw;
    }
    #homeVidWrap{
        margin-top:15.01vw!important;
        height: auto!important;
    }
/*
    #homeVidWrap video{
        width:100%!important;height: auto;display: block;
    }
*/
/*
    .topRow{
        padding-bottom: 12vw;
        background-size:cover;
        background-position: 20% 100%!important;
        background-repeat: no-repeat;
        background-image: url(img/new/underheader-image-mobile.jpg)
    }
*/
    .experiences h1{
        color: white!important;
        font-size: 5vw;
        margin-top: 15vw!important;
        text-align: left;
/*        text-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.9);*/
    }
    .experiences p{
        text-align: left!important;
        color: white;
        margin-left: 0!important;
        padding-right: 8vw!important;
        padding-left: 0!important;
/*        text-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.9);*/
    }
    .experiences .underoutfit{
        padding-left: 0!important;
    }
    .getWrap{
        padding-left: 14vw;
    }
}


.experience1{
    background-image: url(img/outfitassets/image1.jpg);
}
.experience2{
    background-image: url(img/outfitassets/image2.jpg);
}
.experience3{
    background-image: url(img/outfitassets/image3.jpg);
}
.experience4{
    background-image: url(img/outfitassets/image4.jpg);
}
.hiddenExp{
    overflow: hidden;
    -webkit-transition: ease all .3;
    transition: ease all .3;
    display: inline-block;
    width:100%;
    height: 25vw;
}
.hiddenExp .exp{
    margin-top: 3vw!important;
}
.showExps{
    height: auto!important;
}

.backtext{
    position: absolute;display: inline-block;top:0;left:0;height:100%;width:100%;
    line-height: 100%;
    font-size: .9vw;
    line-height: 150%;
    padding-left:4vw;
    padding-right: 4vw;
    padding-top: 2.5vw;
}
.backtext span{
    display: block;margin-bottom: .5vw;
    font-size:1.5vw;
    font-weight: 700;
    margin-top: 0;
}
.backtext p{
    text-transform: none!important;
    font-size: .9vw;
    line-height: 150%;
}
.backtext .regBTN{
    line-height: 2vw;
    margin-top: 0;
    display: inline-block;
    width:15vw;
}
.fronttext{
    display: inline-block;position: absolute;top:0;left:0;color: white;text-align: center;width: 100%;height: 100%;background-color: rgba(0,0,0,.25);cursor:default;z-index: 0;cursor: pointer;
    text-shadow: 0px 0px 1vw rgba(0, 0, 0, 0.9);
}

.hoverDot{
    background-color: transparent;
    display: inline-block;
    height: .5vw;
    width:.5vw;
/*    margin-right: .25vw;*/
    margin-bottom: .1vw;
    border-radius: 50%;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}

.dropDowns{
    display: inline-block;
    height: 0px;
    overflow: hidden;
    background-color: rgba(40,40,40,.95);
    text-align: left;
    padding: 0;
    position: fixed;
    width:15vw;
    top:4vw;
    z-index: 4999;
    -webkit-box-shadow: 0 0 1vw 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 1vw 0 rgba(0,0,0,0.75);
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}
.dropDowns a{
    display: block;
    color: white;text-transform: none!important;
    font-size: .9vw;
    padding-left: .5vw;
    padding-right: .5vw;
    line-height: 2vw;
    cursor: pointer;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    text-decoration: none!important;
}
.dropDowns a:hover > .hoverDot{
    background-color: #FFE500;
}
.rightSide a:hover > .hoverDot{
    background-color: #FFE500;
}
.locs{
    text-align: left;
    cursor: default;
}
.lochov{
    cursor: pointer!important;
}
.locs p{
    display: inline-block;
    padding-left: .5vw!important;
}
.searchBox .locs:hover > .hoverDot{
    background-color: #FFE500;
}
.locA:hover > .hoverDot{
    background-color: #FFE500;
}
.papa:hover > .hoverDot{
    background-color: #FFE500;
}
.papa>.hoverDot{
    height: .75vw;
    width:.75vw;
}
.left-side .locs{
    padding-left: 0!important;
    text-align: left!important;
}
.left-side h3{
    font-size: 1.5vw!important;
    margin-top: 2.25vw!important;
}
.workoutTitles{
    text-align: left;
    display: block;
    font-size: 3vw;
    font-weight: 500;
    margin-top: 2vw;
    padding-left: 10vw;
    cursor: pointer;
    text-decoration: none!important;
    color: white!important;
}
.workoutTitles>.hoverDot{
    height: 1vw;
    width: 1vw;
    vertical-align: middle;
    cursor: pointer;
}
.workoutTitles:hover > .hoverDot{
    background-color: #FFE500;
}
.workoutsNew p{
    padding-left: 12vw;
    padding-right: 40vw;
}
.mid a{
    color: white;-webkit-transition: ease all .3s;transition: ease all .3s;
    cursor: pointer;
    font-size: 1vw;
    text-transform: uppercase;
    margin-left:3vw;
    margin-right: 3vw;
    line-height:4vw;
    height: 4vw;
    display: inline-block;
    text-decoration: none!important;
}
.mid a:hover > .hoverDot{
    background-color: #FFE500;
}
#showJoin{
    color: black;
    display: inline-block;
    font-size: .8vw;
    font-weight: 500;
    line-height: 2vw;
    height: 2vw;
    padding-left: 2vw;
    padding-right: 2vw;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 2vw;
    text-decoration: none!important;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    margin-top: 1vw;
    background-color: #FFE500;
}
#showJoin:hover{
    background-color: black;
    color: #FFE500;
}
.rightSide a{
    color: white;-webkit-transition: ease all .3s;transition: ease all .3s;
    cursor: pointer;
    font-size: 1vw;
    text-transform: none;
    margin-left:.5vw;
    margin-right: .5vw;
    line-height:4vw;
    height: 4vw;
    display: inline-block;
    text-decoration: none!important;
}
.rightSide{
    float: right;
    height:100%;
    line-height: 100%;
    vertical-align: middle;
}
/*
.rightSide div{
    background-color: rgb(254,233,20);
    border-radius: 50%;
    height:1vw;
    width:1vw;
    display: inline-block;
    margin-top: 1.5vw;
    margin-right: .5vw;
}
*/
.rightSide>a{
    color: white;
    font-size: 1vw;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: ease all .5s;
    transition: ease all .5s;
}



.botLinks{
    display: inline-block;
    position: absolute;
    left:50vw;
    top:0vw;
}
.botLinks>a{
    display: block;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1vw;
    letter-spacing: .1vw;
    line-height: 200%;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}
.botLinks>a:hover{opacity: .9;color: #FFE500;}
.copyFoot{
    color: white;text-align: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    width:100%;
    font-size: .75vw;
    opacity: .8;
}
.informed{
    margin-top: 4vw;
    
}
/*
.informed a{
    
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.25vw;
    text-transform: uppercase;
}
*/
/*
.informed input{
    font-size: .9vw;
    padding:0;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 12vw;
    background-color: transparent;
    color: white!important;
    opacity: 100%;
    border: .11vw solid white;
    margin-left: .25vw;
    border-radius: 1vw;
    line-height: 2vw;
}
.informed select{
    font-size: .9vw;
    padding:0;
    padding-left: 1vw;
    padding-right: 1vw;
    width: auto;
    background-color: transparent;
    color: white!important;
    opacity: 100%;
    border: .11vw solid white;
    margin-left: .25vw;
    border-radius: 1vw;
    line-height: 2vw;
}
*/
select option{
    color: black!important;
}
#selectEmail, #selectPhone, #informedSubmit{
/*    display: none;*/
}
/*
.informed .regBTN{
    line-height: 2vw;
    margin-left: 0;
}
*/
/*
.outfitterHeader .regBTN{
    line-height: 2vw;
    margin-left: 0;
}
*/
.socialCircles{
    position: absolute;
    top: 24vw;
    left: 25.75vw;
}
.deskico{
    color: #FFE500;
    font-size: 2.5vw;
    margin: .75vw;
    -webkit-transition: ease all .3s!important;
    transition: ease all .3s!important;
}
.deskico:hover{
    color: black;
/*
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
*/
}
/*
.socialCircles .mobico{
    color: #FFE500;
    font-size: 2.5vw;
    margin: 1vw;
}
*/
.mobico{
    color: #FFE500;
    font-size: 10vw;
    margin: 1vw;
}

/*
.flip-card-back .regBTN{
    display: none;
}
*/

/*NEW VERSION CSS END*/
.flip-card-inner{
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    
}
.flip-card-inner:hover{
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    -webkit-box-shadow: 0px 0px .5vw rgba(20,20,20,.5);

                                box-shadow: 0px 0px .5vw rgba(20,20,20,.5);
}

                            .flip-card {
                              background-color: transparent;
                                width: 100%;
                                display: inline-block;
                           cursor: pointer;
                              -webkit-perspective: 1000px;
                              perspective: 1000px; 
                                
                            }


                            .flip-card img{
                                width:100%;
                           cursor: pointer;
/*
                                -webkit-transition: ease all .3s;
                                transition: ease all .3s;
*/

/*                                background-color: #FFE500;*/
                            }
                            
                            /* This container is needed to position the front and back side */
                            .flip-card-inner {
                              position: relative;
                              width: 100%;
                              height: 100%;
                                height: 18.75vw;
                              text-align: center;
                      -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
/*                                background-color: #FFE500;*/
                            }

                            /* Do an horizontal flip when you move the mouse over the flip box container */
                            .flip-card:focus .flip-card-inner {
/*
                             -webkit-backface-visibility: visible;
                             backface-visibility: visible;
*/
                              -webkit-transform: rotateY(180deg);
                              transform: rotateY(180deg);
/*                                background-color: #FFE500;*/
/*
                                -webkit-box-shadow: 0px 0px .33vw rgba(20,20,20,.5);
                                box-shadow: 0px 0px .33vw rgba(20,20,20,.5);
*/
                            }
/*
                        .flip-card:hover .flip-card-front {

                                -webkit-box-shadow: 0px 0px .33vw rgba(20,20,20,.5);

                                box-shadow: 0px 0px .33vw rgba(20,20,20,.5);
                            }
*/



                            /* Position the front and back side */
                            .flip-card-front, .flip-card-back {
                              position: absolute;
                              width: 100%;
                              height: 18.75vw;
                            cursor: pointer;
                              -webkit-backface-visibility: hidden;
                              backface-visibility: hidden;
                                -webkit-transition: ease all .3s;
                                transition: ease all .3s;
                            }

                            /* Style the front side (fallback if image is missing) */
                            .flip-card-front {
                              background-color: transparent;
                              color: black;
/*                                z-index: 1;*/
                                cursor: pointer;
                            }

                            /* Style the back side */
                            .flip-card-back {
                                -webkit-transform: ease all .3s;
                                transform: ease all .3s;
                              background-color: #FFE500;
                              color: black;
                              
                              -webkit-transform: rotateY(180deg);
                              
                              transform: rotateY(180deg);
                              
                              
/*                                z-index: 2;*/
                                height: 100%;
                                width:100%;
                            }





.soon{
    font-size: 2vw;
    margin-top: 2vw;
    margin-bottom: 1vw;
    font-weight: 500;
}
.fa-tools{
    font-size: 7vw;
}
.topBar{
    background-color: rgb(40,40,40);
    height: 4vw;
    text-align: left;
    padding-left: 10vw;
    padding-right: 10vw;
    position: fixed;
    width:100%;
    left:0;
    top:0;
    z-index: 5000;
    letter-spacing: .2vw;
}
.topBar .logo>img{
    height: 2vw;
    margin-top: 1vw;
    display: inline-block;
}
.barss{
    display: none;
}


#showingWhat{
    left:31vw;
}
#showingJoin{
    left:50vw;
}
#showingLoc{
    left:55vw;
}
#showingLogin{
    right:0;
}


.spacing{
        height: 4vw;
    }



/*mobile menu*/
.menuCover{
    z-index: 5001;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    display: none;
    left: 0;
    top: 0;
    height: 125vh;
    overflow: hidden;
    width:100vw;
}
.mobileMenu{
    width:79vw;
    left: -80vw;
    z-index: 5002;
    position: fixed;
    top:0;
    height: 125vh;
    overflow: hidden;
    background-color: black;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 5vw 0px #000000;
    box-shadow: 0px 0px 5vw 0px #000000;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}
.mobileMenu2{
    width:79vw;
    right: -81vw;
    z-index: 5002;
    position: fixed;
    top:0;
    height: 125vh;
    overflow: hidden;
    background-color: black;
    display: inline-block;
    -webkit-box-shadow: 0px 0px 5vw 0px #000000;
    box-shadow: 0px 0px 5vw 0px #000000;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}
.showMenu{
    left:0;
}
.closeMob{
    color: #FFE500;
    position: absolute;
    top: 1vw;
    right: 3vw;
    font-size: 14vw;
    line-height: 100%;
}
.mobmob{
    color: white;
    display: block;
    font-size: 6.5vw;
    margin-bottom: 5vw;
    margin-left: 5vw;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: ease all .5s;
    transition: ease all .5s;
    text-decoration: none!important;
}
.mobmob:hover{
    color: #FFE500;
    opacity: .9;
}


.whatIs{
    margin-top: 4vw;
}
.whatIs .box{
    display: inline-block;
    width:35vw;
    height:35vw;
    vertical-align: top;
}
.leftBox{
    margin-left:15vw;
    margin-right: 10vw;
}
.rightBox{
    background-color: rgba(150,150,150,.15);
}
h1{
    font-weight: 600;
    color: rgba(40,40,40,.85);
    font-size: 4.5vw;
    margin-bottom: 1vw;
}
.leftBox p{
    font-weight: 300!important;
    color: rgba(40,40,40,.7);
    font-size: 1.25vw;
    margin-top: 2vw;
}
.topRow p{
       padding-bottom: 7vw;
    }
.experiences{
    margin-top: 10vw;
}
.para h1{
        margin-top: 5vw;
    }
#subH2{
    text-align: center;
    margin:0 auto;
    display: block;
    padding:0;
    font-size: 2vw;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}
#subp{
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
    padding-bottom: 1vw!important;
    margin-bottom: 0;
    text-align: left;
}
.showdrop2{
    height: 0!important;
    
    -webkit-transition: ease all .3s;
    
    transition: ease all .3s;
}
.showdrop{
    height:auto;
    padding: 1vw;
    -webkit-transition: ease all .3s;
    transition: ease all .3s;
}
.aboutHeader{
    background-image: url(img/background/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent!important;
    margin-top: 4vw;
}
.historyHeader{
    background-image: url(img/background/history.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent!important;
    margin-top: 4vw;
}
.ethosHeader{
    background-image: url(img/background/ethos.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: transparent!important;
    margin-top: 4vw;
}
.learnHeader{
    background-image: url(img/background/learn.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: transparent!important;
    margin-top: 4vw;
}
.desHeader{
    background-image: url(img/new3/description2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-color: transparent!important;
    margin-top: 4vw;
}
.adHeader2{
    background-image: url(img/headers/advisory2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color: transparent!important;
    margin-top: 4vw;
}
.teamHeader{
    background-image: url(img/headers/team3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color: transparent!important;
    margin-top: 4vw;
}
.firstHeader{
    background-image: url(img/headers/first.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    background-color: transparent!important;
    margin-top: 4vw;
}
.firstHeader p{
    font-size: 1.25vw!important;
    margin-top: 1vw;
}
@media (max-width:767px){
    .firstHeader .headContent{
        padding-top: 40vh!important;
    }
   .firstHeader p{
        font-size: 4vw!important;
        margin-top: 1vw;
    } 
}
.flQR{
    background-image: url(img/headers/flQR.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-color: transparent!important;
    margin-top: 4vw;
}
.headContent h1, .headContent h2{
    text-align: left!important;
}
.headContent h1{
    font-size: 6vw;
    margin-bottom: 5vw;
}
.headContent h2{
    font-size: 2.75vw;
}
.ethosHeader .headContent{
    bottom:9vw!important;
}
.adHeader .headContent{
    bottom:10vw;
}
.headContent{
    text-align: left;
    margin-left:15vw;
    padding-top: 70vh;
    padding-bottom: 5vh;
}
.headContent p{
    color: white;
    width:50vw;
    margin-top: 3vw!important;
    margin-bottom: 3vw!important;
    font-size: 1vw;
}
/*
.showdrop2{
    display: none;
}
*/

/*MEDIA QUERIES*/

/*LARGE LAPTOPS AND LARGER*/
@media(min-width:1920px){
    
}
/*MEDIUM LAPTOPS AND SMALLER*/
@media(max-width:1600px){
    
}
/*IPAD PRO AND SMALLER*/
@media(max-width:1024px){
    
}

.mobileMenu3{
    background-color: white;
    height:100vh;
    overflow: scroll;
    padding-top: 17.5vw;
    position: fixed;
    top:-100vh;
    left:0;
    width:100%;
    z-index: 4999;
    -webkit-transition: ease all .5s;
    transition: ease all .5s;
}
.mobLinks{
    color: black!important;
    font-weight: 500;
    font-size: 7vw;
    text-decoration: none!important;
    padding-left: 5.5vw;
    margin-top: 7vw;
    display: block;
}
.showNew{
    top:0;
}
#whatDrop{
    padding-left: 5vw;
    display: inline-block;
    overflow: hidden;
}
#loginDrop{
    padding-left: 5vw;
    display: inline-block;
    overflow: hidden;
}
.drops{
    color: black!important;
    font-weight: 500;
    font-size: 5vw;
    text-decoration: none!important;
    padding-left: 15vw;
    margin-top: 3vw;
    display: block;
}

@media(min-width:768px){
    .mobileMenu3{
        display: none!important;
        visibility: hidden;
        z-index: -1000;
    }
    .content2{
        margin-left: 25vw!important;
    }
    #footerMobile{
        display: none!important;
    }
}
/*IPAD*/
@media(max-width:767px){
    
    .content2{
        padding-top: 0!important;
    }
/*
    .phoneIMG{
        display: none!important;
    }
*/
    #footerMobile{
        background-color: black;
        color: white;
        padding-top: 5vw;
        padding-bottom: 1vw;
    }
/*
    .mobFootLinks a{
        display: block;
        color: white!important;
        font-size: 5vw;
        margin-left: 5vw;
        margin-top: 2.5vw;
    }
*/
    .socialCirclesMob{
        color: #FFE500;
        margin-top: 0;
        font-size: 10vw;
    }
    .soon{
        font-size: 5vw;
        margin-top: 5vw;
        margin-bottom: 3vw;
    }
    .fa-tools{
        font-size: 25vw;
    }
    .workoutTitles{
        font-size: 5vw;
        font-weight: 500;
        margin-top: 5vw;
        margin-bottom: 2vw;
        padding-left: 0;

    }
    .workoutTitles>.hoverDot{
        height: 3vw;
        width: 3vw;
    }
    .experiences h1{
        margin-left: 0!important;
        padding-left: 0!important;
    }
    .workoutsNew p{
        padding-left: 12vw;
        padding-right: 40vw;
    }
    .workoutsNew .regBTN{
        margin-left: 4vw!important;
    }
    .experiences .col-sm-8{
        padding-left: 0!important;
    }
    .papa{
        margin-bottom: -3vw;
    }
    .chargeOut{
        margin-bottom: 0;
        padding-bottom: 0;
        background-position: bottom;
        background-size: 500vw;
    }
    .headContent h1, .headContent h2{
        text-align: left!important;
    }
    .headContent h1{
        font-size: 5vw;
        margin-bottom: 5vw;
        width:auto;
    }
    .headContent h2{
        font-size: 2.5vw;
        margin-right: 0!important;
        width:auto;
        margin-bottom: 5vw;
    }
    .headContent{
        text-align: left;
        margin-left: 0;
        width:auto!important;
        bottom:0;
        padding-bottom: 10vw;
        position: relative;
        width:auto;
        left: 5vw!important;
        padding-top: 120vw;
    }
    .headContent p{
        color: white;
        width:90vw;
        font-size: 3vw;
    }
}
.headh1{
    color: white;
    text-align: center;
    font-size: 10vw;
}
.homehead{
    padding-top: 14.5vw!important;
}
#head1, #head2, #head3{
    display: none;
}
/*SMALL TABLETS, REGULAR SMARTPHONES*/
/*ALSO WHERE .COL-SM-# BREAKS DOWN TO MOBILE*/
@media(max-width:767px){
/*
    body{
        display: none!important;
    }
*/
    #workLeft, #workRight{
        width:80vw;
    }
    .dropping{
        margin-top: 5vw!important;
    }
    #head3{
        width:95%;
    }
    .headh1{
        color: white;
        text-align: center;
        font-size: 19vw!important;
    }
    .outfitHeader{
        height: auto!important;
        background-size: cover!important;

    }
    .homehead{
        height: auto!important;
        padding-top: 5.5vh!important;
    }
    .papa>.hoverDot {
        height: 3vw;
        width: 3vw;
    }
    .spacing{
        height: 15vw;
    }
    .topBar{
        background-color: rgb(40,40,40);
        height: 15vw;
        text-align: left;
        padding-left: 2vw;
        padding-right: 2vw;
        position: fixed;
        width:100%;
        left:0;
        top:0;
        z-index: 5000;
        
    }
    .mid a, .rightSide a{
        display: none;
    }
    #showJoin{
        display: none!important;
    }
    .topBar .logo>img{
        height: 12vw;
        margin-top: 1.5vw;
        display: inline-block;
        padding: 3vw;
    }
    .barss{
        display: inline-block;
        color: white!important;
        font-size: 4.25vw;
        line-height: 15.25vw;
        text-align: right;
        float: right;
        margin-right: 2vw;
    }
    .barss i{
        color: white!important;
        margin-top: .5vw;
    }
    
    .mainContent .container {
        width: 100vw!important;
        padding:0;
    }
    
    
    .outfitHeader img{
        width:100%;
    }
    h1{
        font-size: 9vw!important;
    }
    h2{
        font-size: 6vw!important;
        margin-top: 5vw!important;
    }
    .mainContent p{
        font-size: 3.5vw;
        margin:0;
        padding:0;
        margin-left:5vw;
        margin-right: 5vw;
        padding:0;
    }
    .topRow p{
        padding-left:5vw!important;
        padding-right: 5vw;
    }
    .underoutfit, .underoutfit2{
        margin-left:0!important;
        margin-right: 0!important;
        width:100%!important;
        margin-bottom: 10vw!important;
        margin-top: 5vw!important;
        font-size: 3.5vw!important;
    }
    .left-side, .right-side{
        display: block!important;
        float: clear;
    }
    .left-side{
        height: 70vw;
    }
    .right-side{
        padding-bottom: 10vw;
    }
    .body{
        margin-right:0!important;
        margin-left:0!important;
        width:100%!important;
    }
    #subp{
        -webkit-transition: ease all .3s;
        transition: ease all .3s;
        padding-bottom: 1vw!important;
        margin-left: 14vw!important;
        margin-right: 5vw!important;
        padding:0!important;
        width: 80vw!important;
        margin-bottom: 0!important;
    }
    .para2 .underoutfit{
        padding-left: 10vw;
        padding-right: 5vw;
        padding-bottom: 10vw!important;
    }
    .circs{
        padding-bottom: 15vw;
    }
    .charge{
        padding-right: 0;
        margin-right: 0;
        padding-left: 0;
        margin-top: -23px!important;
        z-index: 1000;
        position: relative;
    }
    .searchBox img{
        width:85%!important;
    }
    .searchBox h1{
        margin-top: 15vw!important;
    }
    .experiences{
        margin-top: 15vw;
        padding-bottom: 15vw;
        padding-left: 14vw;
    }
    .experiences h1{
        padding-left: 0!important;
    }
    .newWorkRow{
        padding-left: 0!important;
        padding-right: 12vw!important;
    }
    .newWorkRow .left-side{
        height: 60vw!important;
    }
    .newWorkRow .right-side{
        height: 120vw!important;
    }
    .newWorkRow .right-side p{
        padding-left: 5vw!important;
        padding-right: 5vw!important;
    }
    .newWorkRow .left-side h3{
        padding-left: 2.5vw!important;
        padding-right: 5vw!important;
        font-size: 4.25vw!important;
        margin-top: 6vw!important;
    }
    .workright .regBTN{
        position: static;
            margin-top:10vw!important;
    }
    #workh2{
       margin-bottom: 5vw   
    }
    .experiences .col-sm-10{
        padding-left: 0!important;
    }
    .searchBox .locs{
        display: block!important;
        padding-left: 10vw
    }
    .searchBox h2{
        margin-top: 15vw!important;
    }
    .searchBox .regBTN{
        padding: 4vw;
        padding-right: 5vw;
        padding-left: 5vw;
        font-size: 3vw;
        line-height: 8vw;
        font-weight: 500;
        margin-bottom: 5vw;
    }
    .locslocs{
        padding-right: 15vw!important;
    }
    .outfitterHeader .regBTN{
        padding: 4vw;
        padding-right: 5vw;
        padding-left: 5vw;
        font-size: 5vw;
        line-height: 8vw;
        font-weight: 500;
        margin-bottom: 5vw;
    }
    .outfitterHeader input{
        display: block;
        margin: 1.5vw;
        width:55vw;
    }
    .outfitterHeader h1{
        width:75vw;
    }
    .locs p{
        margin-right: 0!important;
        width:50vw!important;
    }
    .hideLeft{
        display: none!important;
    }
    .outfitter{
        margin-top: 10vw;
    }
    .regBTN{
        color: black;
        border:1px solid black!important;
        display: inline-block;
        font-size: 3vw;
        font-weight: 500;
        line-height: 9vw;
        padding:0;
        padding-left: 5vw;
        padding-right: 5vw;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: 6vw;
        text-decoration: none!important;
        -webkit-transition: ease all .3s;
        transition: ease all .3s;
        margin-top: 5vw;
        background-color: #FFE500;
    }
    #tap{
        margin-top: 5vw;
    }
    .topRow{
        margin-left:0!important;
        margin-right: 0!important;
    }
    .topDes{
        padding:0!important;
    }
    #footers{
        display: none!important;
    }
/*
    .outfitter img{
        height: 12vw!important;
    }
*/
    .searchBox input{
        display: block;
        margin: 0 auto;
        font-size: 6vw;
        line-height: 6vw;
        border-radius:3vw;
        padding-left: 1vw;
        padding-right: 1vw;
        text-align: center;
        margin-bottom: 4vw;
        margin-top: 4vw;
        color: rgba(218,218,218,1);
        border:2px solid rgba(218,218,218,1);
        width:100%;
    }
    
    .backtext{
        position: absolute;display: inline-block;top:0;left:0;height:100%;width:100%;
        line-height: 100%;
        font-size: 1.25vw;
        padding-left:4vw;
        padding-right: 4vw;
        padding-top: 2.5vw;
    }
    .backtext span{
        display: block;margin-bottom: 5vw;
        font-size:5vw;
        margin-top: 5vw!important;
        font-weight: 700;
        margin-top: 0;
        text-decoration: underline;
    }
    .backtext p{
        text-transform: none!important;
        font-size: 3vw;
        line-height: 110%;
        margin-bottom: 0!important;
    }
    .fronttext{
        display: inline-block;position: absolute;top:0;left:0;color: white;text-align: center;width: 100%;height: 44vw;background-color: rgba(0,0,0,.25);cursor:default;z-index: 0;cursor: pointer;
        font-size: 5vw;
         text-shadow: 0px 0px 3vw rgba(0, 0, 0, 0.9);
    }
        .experiences .exp {
        width: 90vw;
        display: inline-block;
        text-align: center;
        height: 44vw;
        margin: .5vw;
        margin-top: 5vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        line-height: 44vw;
        color: white;
        text-transform: uppercase;
        font-size: 1vw;
        font-size: 2vw;
        font-weight: 600;
        cursor: pointer;
        -webkit-transition: ease all .3s;
        transition: ease all .3s;
    }

        .flip-card {
                              background-color: transparent;
                                width: 100%;
                                display: inline-block;
                           cursor: pointer;
                              -webkit-perspective: 1000px;
                              perspective: 1000px; 
                                
                            }


                            .flip-card img{
                                width:100%;
                           cursor: pointer;
                                -webkit-transition: ease all .3s;
                                transition: ease all .3s;

                                background-color: #FFE500;
                            }
                            
                            /* This container is needed to position the front and back side */
                            .flip-card-inner {
                              position: relative;
                              width: 100%;
                              height: 100%;
                                height: 44vw;
                              text-align: center;
                      
                       
                              -webkit-transition: -webkit-transform 0.8s;
                      
                       
                              transition: -webkit-transform 0.8s;
                      
                       
                              transition: transform 0.8s;
                      
                       
                              transition: transform 0.8s, -webkit-transform 0.8s;
                      
                            
                              -webkit-transform-style: preserve-3d;
                      
                            
                              transform-style: preserve-3d;
                                background-color: #FFE500;
                            }

                            /* Do an horizontal flip when you move the mouse over the flip box container */
                            .flip-card:focus .flip-card-inner {
                                -webkit-backface-visibility: visible;
                             backface-visibility: visible;
                              -webkit-transform: rotateY(180deg);
                              transform: rotateY(180deg);
                                background-color: #FFE500;
                                -webkit-box-shadow: 0px 0px .33vw rgba(20,20,20,.5);
                                box-shadow: 0px 0px .33vw rgba(20,20,20,.5);
                            }
                        .flip-card:hover .flip-card-front {

                                -webkit-box-shadow: 0px 0px .33vw rgba(20,20,20,.5);

                                box-shadow: 0px 0px .33vw rgba(20,20,20,.5);
                            }



                            /* Position the front and back side */
                            .flip-card-front, .flip-card-back {
                              position: absolute;
                              width: 100%;
                              height: 44vw;
                            cursor: pointer;
                              -webkit-backface-visibility: hidden;
                              backface-visibility: hidden;
                                -webkit-transition: ease all .3s;
                                transition: ease all .3s;
                            }

                            /* Style the front side (fallback if image is missing) */
                            .flip-card-front {
                              background-color: #FFE500;
                              color: black;
                                z-index: 1;
                                cursor: pointer;
                            }

                            /* Style the back side */
                            .flip-card-back {
                                -webkit-transform: ease all .3s;
                                transform: ease all .3s;
                              background-color: #FFE500!important;
                              color: black;
                              
                              -webkit-transform: rotateY(180deg);
                              
                              transform: rotateY(180deg);
                              
                              
                                z-index: 1;
                                height: 100%;
                                width:100%;
                            }
    .hiddenExp{

    height: auto;
}
    .col-xs-4{
        padding-left:0!important;padding-right: 0!important;
    }
/*
    .circs span{
        font-size: 2.5vw;
    }
*/
    .col-xs-4 p{
        font-size: 2.25vw!important;
    }
    
}
/*SMALLER SMARTPHONES*/
@media(max-width:450px){
    
}

/*temp style*/
.copyFoot2{
    background-color: rgb(40,40,40);
    color: white;
    text-align: center;
    font-size: 12px;
    line-height: 25px;
}
#colorbar{
    display: inline-block;width:20vw;
}
#mobGet{
    display: none;
}
#mobVan{
    display: none;
}
@media(min-width:768px){
    #becomeWrap p{
        font-size: 1.25vw!important;
    } 
    .appLogos{
        display: inline-block;
        height: 4vw;
        margin-right: .5vw;
    }
}

@media(max-width:767px){
    .appLogos{
        display: inline-block;
        width: 45vw;
        margin-bottom: 2.5vw;
    }
    #elfWrap{
        margin-top: 10vw!important;
    }
    #joinuph1{
        margin-top: 10vw!important;
    }
    #joinsection{
        padding-top: 9vw!important;
    }
/*
    #appleLogo{
        height: 14vw!important;
    }
*/
    #becomeWrap{
        margin-top: 5vw!important;
        padding-left: 16vw!important;
    }
    #becomeWrap p{
        font-size: 4vw!important;
    } 
    #becomeOutfitter{
        margin-top: 0!important;
    }
    #mobGet{
        display: block;
        margin-top: 10vw!important;
    }
    .copyFoot2{
        font-size: 2.5vw;
        line-height: 7.5vw;
    }
    #colorbar{
        width:40vw!important;
    }
    .topDes{
        display: none;
    }
    .topRow{
        display: none;
    }
    .vanpic{
        display: none!important;
    }
    #mobVan{
        display: block;
        width: 107.5%;
        margin-left: -2.75vw;
        margin-bottom: -5.5vw;
        padding-top: 10vw;
    }
    .vanpic2{
        display: none!important;
    }
    #mobVan{
        display: block;
        width: 107.5%;
        margin-left: -2.75vw;
        margin-bottom: -5.5vw;
        padding-top: 10vw;
    }
/*
    .copyFoot2mob{
        margin-top: -5vw!important;
    }
*/
}

.rightSide{
    display: none;
}
/*
#joinsection{
    display: none;
}
*/
/*
#footerMobile{
    display: none;
}

#footers{
    display: none;
}
*/
.eapps-link{
    display: none!important;
}
.copyFoot2, .copyFoot2mob{
    display: none;
}
/*temp style*/